---
// Layout
import Layout from '../layouts/Layout.astro';

// Components
import PinnedPosts from '@/components/PinnedPosts.astro';
---

<Layout>
  <section>
    <h1>Commit Emocional</h1>
    <p>
      Qué se yo… soy un pibe que piensa demasiado y escribe cuando el caos mental aprieta.
      Bienvenido a donde nada está del todo claro, pero algo siempre sale.
    </p>
  </section>
  <PinnedPosts />
</Layout>

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
