---
import PinnedPosts from '@/components/PinnedPosts.astro';
import Separator from '@/components/Separator.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section>
    <h1>Commit Emocional</h1>
    <p>
      Reflexiones reales, charlas internas y un poco de caos mental. Bienvenido a este rincón donde
      ser vulnerable no solo está bien, sino que es necesario.
    </p>
    <Separator />
  </section>
  <PinnedPosts />
</Layout>

<style is:inline>
  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
