@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #e3e3e3;
  --card: #1e1f20;
  --card-foreground: #e3e3e3;
  --popover: #1e1f20;
  --popover-foreground: #e3e3e3;
  --primary: #8ab4f8;
  --primary-foreground: #000000;
  --secondary: #2d2f31;
  --secondary-foreground: #e3e3e3;
  --muted: #111111;
  --muted-foreground: #969696;
  --accent: #2d2f31;
  --accent-foreground: #8ab4f8;
  --destructive: oklch(71.061% 0.16614 22.191);
  --destructive-foreground: #ffffff;
  --border: #1b1b1c;
  --input: #111111;
  --ring: #8ab4f8;
  --grid-color: rgba(255, 255, 255, 0.02);
  --shadow-lg: 0 10px 30px -10px rgba(0, 0, 0, 0.9);
  --radius: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 0.75rem);
  --radius-md: calc(var(--radius) - 0.5rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.5rem);
  --radius-2xl: calc(var(--radius) + 1rem);
}

body {
  @apply bg-background text-foreground max-w-xl mx-auto px-4 sm:px-6 lg:px-8;
}

@layer {
  .prose p {
    @apply text-foreground/70 text-pretty leading-relaxed mb-6 font-light text-lg;
  }

  .prose h2 {
    @apply text-lg font-semibold border-b border-border my-6 pb-3;
  }

  .prose h3 {
    @apply font-thin my-6;
  }

  .prose blockquote {
    @apply mb-3 border-l-4 border-primary rounded-md pl-4 py-2 text-sm;
  }

  .prose ul,
  .prose ol {
    @apply ml-6 mb-6 text-foreground/70 leading-relaxed font-light;
  }

  .prose ul {
    @apply list-disc;
  }

  .prose ol {
    @apply list-decimal;
  }

  .prose li {
    @apply mb-2 pl-1;
  }

  .prose li::marker {
    @apply text-primary/80;
  }
}
