---
// Components
import ArrowLeft from '@/icons/ArrowLeft.astro';
---

<button class="back-button" onclick="history.back()">
  <ArrowLeft />
</button>

<style>
  .back-button {
    margin-bottom: 1rem;
    width: fit-content;
    color: var(--muted-foreground);

    &:hover {
      background-color: var(--border);
      border-radius: 100%;
    }
  }
</style>
