---
// Components
import PostCard from './PostCard.astro';

// Utils
import type { Post } from '@/lib/definitions';
import { loadQuery } from '@/sanity/lib/load-query';
import { pinnedPostsQuery } from '@/sanity/lib/queries';

const { data: posts } = await loadQuery<Post[]>({
  query: pinnedPostsQuery,
});
---

{
  posts.length > 0 ? (
    <ul class="posts-list">
      <h2 class="post-list-title">Artículos Fijados</h2>
      {posts.map((post) => (
        <li>
          <PostCard
            pinned={post.pinned ?? false}
            title={post.title}
            description={post.description}
            publishedAt={post.publishedAt}
            slug={post.slug.current}
          />
        </li>
      ))}
    </ul>
  ) : (
    <p class="no-posts-message">No hay artículos fijados por el momento.</p>
  )
}
<style>
  .posts-list {
    margin-top: 2rem;
  }

  .post-list-title {
    margin-bottom: 1rem;
  }

  .no-posts-message {
    margin-top: 2rem;
    color: var(--muted-foreground);
  }
</style>
