---
// Components
import PostCard from './PostCard.astro';

import { sanityClient } from 'sanity:client';

const posts = await sanityClient.fetch(
  `*[_type == "post" && defined(slug)] | order(publishedAt desc)`,
);
---

<ul class="posts-list">
  <h2 class="post-list-title">Artículos Fijados</h2>
  {
    posts.map((post: any) => (
      <li>
        <PostCard
          title={post.title}
          description={post.description}
          publishedAt={post.publishedAt}
          slug={post.slug.current}
        />
      </li>
    ))
  }
</ul>

<style>
  .posts-list {
    margin-top: 2rem;
  }

  .post-list-title {
    margin-bottom: 1rem;
  }
</style>
