@import 'tailwindcss';

:root {
  --background: oklab(15.459999999999999% 0.00011 -0.00662);
  --foreground: oklab(98.41499999999999% -0.00128 -0.00327);
  --card: oklab(19.535% -0.00085 -0.00863);
  --primary: oklab(62.31% -0.03321 -0.18515);
  --muted: oklab(19.535% -0.00085 -0.00863);
  --muted-foreground: oklab(71.068% -0.00802 -0.03427);
  --accent: oklab(19.535% -0.00085 -0.00863);
  --border: oklab(25.1% -0.00169 -0.01034);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
}

body {
  @apply bg-background text-foreground;
}
