@import 'tailwindcss';

:root {
  --background: #e8f2f1;
  --foreground: oklch(0% 0 0);
  --card: oklch(99.405% 0.00011 271.152);
  --card-foreground: oklch(0% 0 0);
  --popover: oklch(99.107% 0.00011 271.152);
  --popover-foreground: oklch(0% 0 0);
  --primary: oklch(53.934% 0.2714 286.753);
  --primary-foreground: oklch(100% 0.00011 271.152);
  --secondary: oklch(95.4% 0.00637 255.746);
  --secondary-foreground: oklch(13.441% 0.00002 271.152);
  --muted: oklch(97.015% 0.00011 271.152);
  --muted-foreground: oklch(43.861% 0.00005 271.152);
  --accent: oklch(93.929% 0.02887 266.393);
  --accent-foreground: oklch(54.456% 0.19041 259.501);
  --border: oklch(88.09% 0.00941 258.48);
  --radius: 0.625rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-secondary: var(--secondary);
}

body {
  @apply bg-background text-foreground max-w-xl mx-auto px-4 sm:px-6 lg:px-8;
}

@layer {
  .prose p {
    @apply text-foreground/70 text-pretty leading-relaxed mb-6 font-light;
  }

  .prose h2 {
    @apply text-lg font-thin border-b border-border my-6 pb-3;
  }

  .prose h3 {
    @apply font-thin my-6;
  }

  .prose blockquote {
    @apply mb-3 border-l-4 border-primary rounded-md pl-4 py-2 text-sm;
  }

  .prose ul,
  .prose ol {
    @apply ml-6 mb-6 text-foreground/70 leading-relaxed font-light;
  }

  .prose ul {
    @apply list-disc;
  }

  .prose ol {
    @apply list-decimal;
  }

  .prose li {
    @apply mb-2 pl-1;
  }

  .prose li::marker {
    @apply text-primary/80;
  }
}
