---
// Components
import Footer from '@/components/Footer.astro';
import ClientRouter from 'astro/components/ClientRouter.astro';

// Styles
import '@/styles/reset.css';

interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'Commit Emocional',
  description = 'Reflexiones de un alma joven y curiosa navegando la vida, aprendiendo a sentir y a vivir.',
} = Astro.props;
---

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator || 'Astro'} />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#ffffff" />
    <title>{title}</title>
  </head>
  <body transition:animate="fade">
    <ClientRouter />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
